<!--based on example code from GitHub-->
{% extends "base.html" %}

{% block title %}Register! - {{ super() }}{% endblock %}

{% block body %}
		<form action="" method="post">
            Please Register below
            <br />
			Username:  <input type="text" name="user" />
			<br />
			Password:  <input type="text" name="pass" />
			<br />
			<input type="submit" value="submit" />
            <br />
            Log In Here <a href="{{ url_for('login') }}">Click here to log in!</a>
		</form>
{% endblock %}